@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 15 15 15;
    --foreground: 250 250 250;
    --muted: 28 28 28;
    --muted-foreground: 142 142 147;
    --accent: 192 192 192;
    --accent-foreground: 15 15 15;
  }
}

body {
  @apply bg-background text-foreground;
  font-feature-settings: "rlig" 1, "calt" 1;
}

/* Seamless Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  background: #121212; 
  border: 3px solid #0F0F0F;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1A1A1A;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #121212 #0F0F0F;
}
